@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XBox Rentals</h1>
    <p>XBox Rentals is a web application designed as a mock in-store game and rental tracker</p>
</div>

<div class="row">
    Login as admin with
    Username: admin@domain.com
    Password: Xbox@Rentals1
    <a href="http://www.codingeverything.com/2014/05/mvcbootstrapactivenavbar.html">active</a>
</div>
